READING AND WRITING DATA

In [2]:
import os
os.getcwd() # location

'c:\\Users\\baolo\\OneDrive\\Desktop\\python'

In [11]:
os.listdir('c:\\Users\\baolo\\OneDrive\\Desktop\\python')

['.git',
 'PythonBasic_1.ipynb',
 'PythonBasic_2.ipynb',
 'test.py',
 'train',
 'train.csv']

READING CSV AND TSV Files

In [12]:
import pandas as pd
titanic_train=pd.read_csv('train.csv')
titanic_train.head(6)

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [28]:
from openpyxl import Workbook
draft=pd.read_excel('Book1.xlsx',sheet_name='Sheet1')
draft

               Player  Draft_Express  CBS  CBS 2  CBS 3  BleacherReport  Sl
0  Karl-Anthony Towns              1    1      1      1               1   1
1        Jahil Okafor              2    2      2      2               2   2
2            Nguyuyễn              2    3      1      4               4   1

In [26]:
draft.to_csv("draft-saved.csv")
os.listdir("c:\\Users\\baolo\\OneDrive\\Desktop\\python")

['.git',
 'Book1.xlsx',
 'draft-saved.csv',
 'DSV.xls',
 'DSV.xlsx',
 'PythonBasic_1.ipynb',
 'PythonBasic_2.ipynb',
 'test.py',
 'train',
 'train.csv']

Control Flow (if, else, for, while)

In [31]:
x=10
y=5
if x>y:
    print("x is greater than y")

x is greater than y

In [32]:
x=10
y=20
if x>y:
    print('x is greater than y')
else:
    print('y is greater than x')

y is greater than x

In [33]:
x=10
y=10
if x>y:
    print('x is greater than y')
elif x==y:
    print('y and x are equals')
else:
    print('y is greater than x')

y and x are equals

FOR LOOPS

In [35]:
my_sequence=range(0,101,10) # make list
for number in my_sequence: #create new loop
    print(number)

0
10
20
30
40
50
60
70
80
90
100

In [38]:
for i in my_sequence:
    if i<50:
        continue            #skip numbers < 50
    print(i)

50
60
70
80
90
100

In [40]:
#while sẽ chạy lần lyợt từ đầu, if sẽ chạy 1 lần 
x=5
iters=0
while iters<x:
    print("Study")
    iters+=1

Study
Study
Study
Study
Study