READING AND WRITING DATA

In [2]:
import os
os.getcwd() # location

'c:\\Users\\baolo\\OneDrive\\Desktop\\python'

In [11]:
os.listdir('c:\\Users\\baolo\\OneDrive\\Desktop\\python')

['.git',
 'PythonBasic_1.ipynb',
 'PythonBasic_2.ipynb',
 'test.py',
 'train',
 'train.csv']

READING CSV AND TSV Files

In [12]:
import pandas as pd
titanic_train=pd.read_csv('train.csv')
titanic_train.head(6)

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [28]:
from openpyxl import Workbook
draft=pd.read_excel('Book1.xlsx',sheet_name='Sheet1')
draft

               Player  Draft_Express  CBS  CBS 2  CBS 3  BleacherReport  Sl
0  Karl-Anthony Towns              1    1      1      1               1   1
1        Jahil Okafor              2    2      2      2               2   2
2            Nguyuyễn              2    3      1      4               4   1

In [26]:
draft.to_csv("draft-saved.csv")
os.listdir("c:\\Users\\baolo\\OneDrive\\Desktop\\python")

['.git',
 'Book1.xlsx',
 'draft-saved.csv',
 'DSV.xls',
 'DSV.xlsx',
 'PythonBasic_1.ipynb',
 'PythonBasic_2.ipynb',
 'test.py',
 'train',
 'train.csv']

Control Flow (if, else, for, while)

In [31]:
x=10
y=5
if x>y:
    print("x is greater than y")

x is greater than y

In [32]:
x=10
y=20
if x>y:
    print('x is greater than y')
else:
    print('y is greater than x')

y is greater than x

In [33]:
x=10
y=10
if x>y:
    print('x is greater than y')
elif x==y:
    print('y and x are equals')
else:
    print('y is greater than x')

y and x are equals

FOR LOOPS

In [35]:
my_sequence=range(0,101,10) # make list
for number in my_sequence: #create new loop
    print(number)

0
10
20
30
40
50
60
70
80
90
100

In [38]:
for i in my_sequence:
    if i<50:
        continue            #skip numbers < 50
    print(i)

50
60
70
80
90
100

In [44]:
#while sẽ chạy lần lượt từ đầu, if sẽ chạy 1 lần 
x=5
iters=1
while iters<x:
    print("Study")
    iters+=1

Study

The np.where() Function

In [50]:
import numpy as np
#draw 25 random numbers from 1-25
my_data=np.random.uniform(1,26,25) #trả đổi tượng về dưới dạng liệt kê

for index,number in enumerate(my_data): #enumerate trả về dưới dạng liệt kê
    if number <10:
        my_data[index] = 0
print(my_data)

[17.85590173 25.32770818  0.         14.98536855  0.         16.94616191
  0.         23.95234434 11.42538981 21.80244729 23.14247457  0.
 22.29391408  0.         19.34165594 14.91382485 15.03182252 20.16470826
  0.         13.12353698 20.03537015 21.47452044  0.          0.
  0.        ]

In [52]:
my_data=np.random.uniform(-1,1,25)
my_data=np.where(
    my_data<0,              #A logical test
    0,                      #Value to set if true
    my_data)                #Value to set if false
print(my_data)

[0.         0.         0.         0.45939636 0.         0.
 0.         0.64102802 0.         0.05854408 0.2890152  0.
 0.53321874 0.01088513 0.         0.         0.         0.
 0.         0.82998681 0.76779701 0.         0.         0.
 0.        ]

FUNCTIONS

In [13]:
def my_function(arg1,arg2):
    return arg1+arg2
my_function(5,10)

15

In [25]:
def func2(ar1,ar2):
    if ar1>3 and ar2>1:
        return ar2          #giong print"ar2"
func2(4,5)

5

In [53]:
def sum_3_item(x,y,z,printarc=False):
    if printarc:
        print(x,y,z)
    return 1
sum_3_item(1,2,3)

1

In [28]:
sum_3_item(1,4,5,True)

1 4 5

10

In [33]:
def sum_many_args(*args): #truyền nhiều tham số vào hàm
    print(type(args))
    return sum(args)
sum_many_args(1,2,3,4,5)

<class 'tuple'>

15

In [37]:
def sum_keywords(**kwargs):
    print(type(kwargs))
    print(kwargs)
    print(sum(kwargs.values())) #kwargs.value: lấy giá trị của biến a,b
sum_keywords(a=100,b=200)

<class 'dict'>
{'a': 100, 'b': 200}
300

LAMBDA FUNCTION

In [38]:
#lambda tham_so: bieu_thuc
#Hàm Lambda có thể có nhiều tham số nhưng chỉ có 1 biểu thức.
lambda x,y:y+x

In [39]:
my_function2 = lambda x,y:y+x
my_function2(2,3)

5

In [45]:
#using map() without lambda function
#duyệt tất cả các phần tử của một iterable (list, tuple, dictionary...) 
#qua một hàm cho trước và trả vềmột list kết quả sau khi thực thi
def square(x):
    return x**2
my_map=map(square,[1,2,3,4,5])
for item in my_map:
    print(item)

1
4
9
16
25

In [50]:
#using map() with lambda function
my_map=map(lambda x:x**2,[1,2,3,4,5])
for item in my_map:
    print(item)

1
4
9
16
25

 List Comprehensions

In [58]:
my_list=[]
for numbers in range(1,21):
    my_list.append(numbers)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [57]:
my_list=[number for number in range(1,21)]
#number: điều kiện thực thi, ví dụ number.upper()
#gọi vòng lặp
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [61]:
my_list3 = [number for number in range(1,101) if number % 5==0]
print(my_list3)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [67]:
combined=[a+b for a in ["life "] for b in ["study"]]
print(combined)

['life study']

In [76]:
combined = [a+b for a in "life" for b in "study"]
non_nested = [letter[0] for letter in combined]
print(non_nested)

['l', 'l', 'l', 'l', 'l', 'i', 'i', 'i', 'i', 'i', 'f', 'f', 'f', 'f', 'f', 'e', 'e', 'e', 'e', 'e']

Dictionary Comprehensions

In [85]:
words = ["life","is","study"]
word_lengt_dict = {}
for word in words:
    word_lengt_dict[word] = len(word)
print(word_lengt_dict)

{'life': 4, 'is': 2, 'study': 5}

In [86]:
words = ["life","is","study"]
word_lengt_dict2 = {word: len(word) for word in words}
print(word_lengt_dict2)

{'life': 4, 'is': 2, 'study': 5}

In [6]:
number_list = [1,2,3]
strList = ['one','two','three']
result = zip(number_list,strList)
for i in result:
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [10]:
words = ["life","is","study"]
words_lenght = [4,2,5]
result1_dict = {key:value for (key,value) in zip(words,words_lenght)}
print(result1_dict)

{'life': 4, 'is': 2, 'study': 5}

Exploring and Cleaning Data